/* line 19, ../sass/login.scss */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(204, 198, 198, 0.6);
}

/* line 24, ../sass/login.scss */
.headerLogin {
  background: rgba(255, 255, 255, 0.04);
  height: 126px;
  margin-top: 32px;
  padding: 18px 0px 0px 101px;
}
/* line 30, ../sass/login.scss */
.headerLogin h1 {
  font-size: 28px;
  font-weight: bold;
}
/* line 33, ../sass/login.scss */
.headerLogin h1 span {
  color: #999265;
}
/* line 37, ../sass/login.scss */
.headerLogin p {
  font-size: 13px;
  margin-top: -8px;
}

/* line 44, ../sass/login.scss */
.site-login .formLogin {
  margin-top: 10%;
  margin-left: 36%;
  background: rgba(0, 0, 0, 0.16);
  height: 284px;
  padding-left: 48px;
  padding-top: 42px;
  border-radius: 16px;
}
/* line 52, ../sass/login.scss */
.site-login .formLogin .inputForm {
  outline: 0;
  width: 86%;
  padding-left: 3%;
}
/* line 57, ../sass/login.scss */
.site-login .formLogin input {
  border-radius: 26px;
  font-size: 11px;
  height: 26px;
  color: #000;
}
/* line 63, ../sass/login.scss */
.site-login .formLogin p {
  width: 193px;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 11px;
}
/* line 69, ../sass/login.scss */
.site-login .formLogin label {
  color: rgba(204, 198, 198, 0.6);
  font-size: 11px;
  line-height: 33px;
  position: relative;
  top: -20px;
  left: 79px;
}
/* line 77, ../sass/login.scss */
.site-login .formLogin button {
  width: 204px;
  border-radius: 26px;
  font-size: 11px;
  height: 30px;
  font-size: 11px;
  color: #999265;
  background: #3a3331;
  outline: 0;
  position: relative;
  top: -33px;
  left: -5px;
  border: none;
}
/* line 90, ../sass/login.scss */
.site-login .formLogin button:hover {
  background: #191412;
}
/* line 96, ../sass/login.scss */
.site-login .has-error .help-block {
  color: rgba(171, 100, 24, 0.99);
}
/* line 100, ../sass/login.scss */
.site-login .titleLogin {
  text-align: center;
  position: relative;
  top: -23px;
  left: -18px;
  font-size: 27px;
  font-weight: bold;
}

/* line 109, ../sass/login.scss */
.footerLogin {
  position: relative;
  top: -15px;
  text-align: center;
  left: -22px;
  line-height: 14px;
}
/* line 115, ../sass/login.scss */
.footerLogin img {
  width: 49px;
  height: 46px;
}
/* line 119, ../sass/login.scss */
.footerLogin div {
  font-size: 11px;
}
